In [154]:
import pandas as pd
import functools

file1 = pd.read_csv("./files_for_lab/file1.csv")
file2 = pd.read_csv("./files_for_lab/file2.csv")
file3 = pd.read_csv("./files_for_lab/file3.csv")

# print(file1.shape)
# print(file2.shape)
# print(file3.shape)

file1.columns = file1.columns.str.lower()
file2.columns = file2.columns.str.lower()
file3.columns = file3.columns.str.lower()

# print(file1)
# print(file2)
# print(file3)

columns_order = ['customer', 'state', 'gender', 'education', 'customer lifetime value', 'income', 'monthly premium auto', 'number of open complaints', 'policy type', 'vehicle class', 'total claim amount']

file1 = file1.rename(columns={'st': 'state'})
file1 = file1[columns_order]

file2 = file2.rename(columns={'st': 'state'})
file2 = file2[columns_order]

file3 = file3[columns_order]

data = pd.concat([file1,file2,file3])

numerics = ['int16', 'int32', 'int64', 'float16', 'float32', 'float64']
print(data.select_dtypes(include=numerics))
# print(data.select_dtypes(exclude=numerics))

data = data.drop(columns=["education", "number of open complaints"])

data['customer lifetime value'] = data['customer lifetime value'].str.replace("%", "").fillna(0)
data['customer lifetime value'] = pd.to_numeric(data['customer lifetime value']).multiply(100)

data = data.drop_duplicates()

data['income'] = pd.to_numeric(data['income']).fillna(0)

filtered_data = data[data.income.gt(100)]

       income  monthly premium auto  total claim amount
0         0.0                1000.0            2.704934
1         0.0                  94.0         1131.464935
2     48767.0                 108.0          566.472247
3         0.0                 106.0          529.881344
4     36357.0                  68.0           17.269323
...       ...                   ...                 ...
7065  71941.0                  73.0          198.234764
7066  21604.0                  79.0          379.200000
7067      0.0                  85.0          790.784983
7068  21941.0                  96.0          691.200000
7069      0.0                  77.0          369.600000

[12074 rows x 3 columns]
     customer       state gender  customer lifetime value   income  \
2     AI49188      Nevada      F              128874317.0  48767.0
4     GA49547  Washington      M               53630765.0  36357.0
5     OC83172      Oregon      F               82562978.0  62902.0
6     XZ87318      Oregon      F               53808986.0  55350.0
8     DY87989      Oregon      M              241275040.0  14072.0
...       ...         ...    ...                      ...      ...
7063  TF56202  California      M                      0.0  66367.0
7064  YM19146  California      F                      0.0  47761.0
7065  LA72316  California      M                      0.0  71941.0
7066  PK87824  California      F                      0.0  21604.0
7068  UP19263  California      M                      0.0  21941.0

      monthly premium auto     policy type  vehicle class  total claim amount
2                    108.0   Personal Auto   Two-Door Car          566.472247
4                     68.0   Personal Auto  Four-Door Car           17.269323
5                     69.0   Personal Auto   Two-Door Car          159.383042
6                     67.0  Corporate Auto  Four-Door Car          321.600000
8                     71.0  Corporate Auto  Four-Door Car          511.200000
...                    ...             ...            ...                 ...
7063                  64.0   Personal Auto   Two-Door Car          307.200000
7064                 104.0   Personal Auto  Four-Door Car          541.282007
7065                  73.0   Personal Auto  Four-Door Car          198.234764
7066                  79.0  Corporate Auto  Four-Door Car          379.200000
7068                  96.0   Personal Auto  Four-Door Car          691.200000

[6837 rows x 9 columns]